{% extends 'base.html' %}

{% block breadcrump %}
<nav aria-label="breadcrumb" class="m-3 mb-5">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'user_system:settings' %}">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change password</li>
    </ol>
</nav>
{%endblock%}
{% block content %}
    <form method="post" class="p-3">
        {%csrf_token%}
        <h3>Change password form</h3>

        <br>
        <div class="p-1">
            {{form.old_password.label}}
            {{form.old_password}}
        </div>

        <br>
        <div class="p-1">
            {{form.new_password1.label}}
            {{form.new_password1}}
        </div>
        <br>
        <div class="p-1">
            {{form.new_password2.label}}
            {{form.new_password2}}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{%endblock%}