{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styleы.css' %}"> 
    <img src="/media/{{recipe.main_image}}" alt="{{ recipe.title }}" style="width: 200px;">
    <br>
    {{recipe.title}}
    {{recipe.author}}
    
    {{recipe.upload_date}}
    <br> 
    {%if recipe.introduction%}
        {{recipe.introduction}}
    {%endif%}

    Total calories{{recipe.total_calories}}
    <br>

    {%if recipe.url_yt_video %}
        {{recipe.url_yt_video}}
    {%endif%}

    {%for ingridient in recipe.ingredients.all%}
        {{ingridient}}
        <br>
    {%endfor%}

    {%if recipe.recipe_text %}
        {{recipe.recipe_text|linebreaks}}
    {%endif%}

{% endblock %}