{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  

    <div class="container pt-4 recipe ps-3 pe-3">
        <div class="intro">
            <h2>{{recipe.title}}</h2>
            <div class="fs-6 fw-light">
                <div name="author_recipe">
                    <a href="{% url 'recipe:user_recipes' recipe.author.pk %}" style="text-decoration: none;" class="text-primary">
                        {%if recipe.author.avatar %}
                            <img src="/media/{{ recipe.author.avatar}}" class="rounded-circle" width="25" height="25" style="object-fit: cover;">
                        {%endif%}
                        {{recipe.author}}
                    </a>
                </div>
                <div style="font-size: 75%;" class="fw-normal text-secondary pt-1">{{recipe.upload_date}}</div>
            <hr>
            {%if recipe.main_image%}
                <img src="{{ recipe.main_image.url }}" alt="{{ recipe.title }}" class="recipe_img">
            {%else%}
                <img src="{%static 'img/def_recipe.jpg'%}" alt="{{ recipe.title }}" class="recipe_img">
            {%endif%}
        </div>
        
        <div name="sec_info" class="row pt-5 ps-3 pe-3 pb-3 mx-auto">
            {% if recipe.introduction %}
                <div class="col-6 border p-3 bg-warning-subtle rounded me-2">
                    <h3>Introduction</h3>
                    {{recipe.introduction}}
                </div>
            {%endif%}
            <div class="col-5 border p-3 bg-primary-subtle rounded">
                <h3>Details</h3>
                Total {{recipe.total_calories}} cal
                <br>
                This recipe {% if recipe.is_dividible %} could {%else%} shouldn't {%endif%} be divided
            </div>
        </div>
        {% if recipe.url_yt_video%}
            <div class="ratio ratio-16x9">
                <iframe 
                src="{{recipe.url_yt_video}}" 
                allowfullscreen
                class="p-4">
                </iframe>
            </div>
        {%endif%}
        <div class="pt-5 ps-3 pe-3 pb-3">
            <h3>Ingridients</h3>
            <ul class="ps-3 pt-3 list-group list-group-flush">
                {%for ingridient in recipe.ingredients.all%}
                    <div class="list-group-item">{{ingridient}}</div>
                {%endfor%}
            </ul>
        </div>

        <div class="pt-5 ps-3 pe-3 pb-3">
            <h3>Recipe</h3>
            <div class="ps-4 lh-lg">
                {{recipe.recipe_text|linebreaks}}
            </div>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

{% endblock %}