{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <style>
        .card-title2 {
            font-size: 1.25rem; /* Adjust as needed */
        }
        .card-img-top {
            object-fit: cover;
            height: 170px;
            width: 100%;
        }
    </style>
        <form class="d-flex mt-3 ms-2" style="max-width: 500px; min-width: 250px;">
            {%if request.user.is_authenticated%}
                <select name="user_filter" id="user_filter" class="form-control m-1" style="width: 25%;">
                    <option disabled selected value class="text-secondary fw-lighter">Preferences</option>
                    <option value="all">With all filters</option>
                    <option value="hated">Remove hated</option>
                    <option value="favorite">Show favorite</option>
                </select>
            {%endif%}
            <select name="order" id="order" class="form-control m-1" style="width: 20%;">
                <option value="revelant" default>Revelant</option>
                <option value="new">Newest</option>
                <option value="old">Oldest</option>
            </select>
            <button class="btn btn-outline-primary m-1" type="submit">Filter</button>
        </form>
    
    <div class="page-container pt-5">
        {%if recipes%}
            <div class="container">
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                            <a href="{% url 'recipe:recipe' recipe.id %}" style="text-decoration: none;">
                                <div class="card" style="max-width: 400px; margin: auto;">
                                    {% if recipe.main_image %}
                                        <img src="/media/{{ recipe.main_image }}" class="card-img-top" alt="{{ recipe.title }}">
                                    {% else %}
                                        <img src="{% static 'img/def_recipe.jpg' %}" class="card-img-top" alt="Default Image">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title card-title2">{{ recipe.title }}</h5>
                                        <p class="card-text" style="font-size: small;">
                                            {{ recipe.author }}<br>
                                            {{ recipe.upload_date }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if paginator.page_range|length > 1%}
                <nav aria-label="Page navigation example">
                    <ul class="pagination ms-5 mt-3">
                        {% for page_num in paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endfor %}
                    </ul>
                </nav> 
            {%endif%}
        {%else%}
                <h3>There is no recipes found</h3>
        {%endif%}
    </div>
{% endblock %}